extends ../layouts/master
block title
    title Register
block content 
    h1 Register
    form(action="/register", method="POST")
      label(for="username") Username:
      input(type="text", name="username", required)
      br
      label(for="email") Email:
      input(type="email", name="email", required)
      br
      label(for="password") Password:
      input(type="password", name="password", required)
      br
      label(for="confirm_password") Confirm Password:
      input(type="password", name="confirm_password", required)
      br
      input(type="submit", value="Register")
