nav.navbar.gb-dark
    h1
        a(href='/')
            i.fa.fa-book PhoneBook
    ul 
        li
            a(href="admin/person") People
        li
            a(href="admin/logout") Logout
        <form id="logout-form" action="logout" method="POST"></form>
